[user]
    name = "Freddie Sackur"
    email = "git@sckr.link"
    signingKey = "~/.ssh/freddie_git"

[gpg]
    format = ssh

[gpg "ssh"]
    allowedSignersFile = "~/.ssh/allowed_signers"


[includeif "hasconfig:remote.*.url:*//work.git.server/**"]
    path = .gitconfig-work

[url "ssh://github.com/"]
    insteadOf = "https://github.com/"

[clone]
    defaultRemoteName = upstream
    # no option for --filter=blob:none

[init]
    defaultBranch = main

[core]
    autocrlf = 0
    editor = code --wait
    whitespace = cr-at-eol
    # ignoreCase = true

[push]
    default = upstream
    autoSetupRemote = true

[credential]
{{ if eq .chezmoi.os "windows" -}}
    helper = wincred
{{- else -}}
    helper = store
{{- end }}

[merge]
    conflictstyle = diff3

[pull]
    rebase = true

[commit]
    gpgsign = true

[tag]
    gpgsign = true

[advice]
    addIgnoredFile = false

[rerere]
    enabled = true
