#! /usr/bin/pwsh

$ErrorActionPreference = 'Stop'

# .ini hash: {{ include "dot_config/dconf-gnome.ini" | sha256sum }}
if ($env:XDG_CURRENT_DESKTOP -eq "GNOME")
{
    . "{{ .chezmoi.sourceDir }}/PSHelpers/dconf.ps1"

    $BackupPath = Join-Path ([IO.Path]::GetTempPath()) "dconf.$([datetime]::UtcNow.Ticks).ini"
    Export-Dconf / > $BackupPath
    "Backed up dconf settings to $BackupPath" | Write-Host -ForegroundColor DarkYellow

    Import-Dconf -Path ~/.config/dconf-gnome.ini
}
