[dustyfox]
source   = imaps://freddie.sackur%40dustyfox.uk:{{ mail_password }}@mail.runbox.com
outgoing = smtps://freddie.sackur%40dustyfox.uk:{{ mail_password }}@mail.runbox.com
default  = INBOX
from     = Freddie Sackur <freddie.sackur@dustyfox.uk>
copy-to  = Sent
