IdentitiesOnly yes
AddKeysToAgent yes
CanonicalizeHostname yes
CanonicalizeMaxDots 0
CanonicalDomains dvlp.casa leigh.delamere euroburners.net
CanonicalizeFallbackLocal yes

Host github.com
    User git
    IdentityFile ~/.ssh/freddie_git

Host sparkle sparkle.euroburners.net
    User freddie
    IdentityFile ~/.ssh/freddie_nowhere

Host *.euroburners.net
    User nowhere
    IdentityFile ~/.ssh/freddie_nowhere

Host rutx rutx.dvlp.casa 10.1.1.2
    HostName 10.1.1.2
    User root
    IdentityFile ~/.ssh/rutx_ssh_user_id_rsa

Host opal 10.2.2.2
    HostName 10.2.2.2
    User root
    IdentityFile ~/.ssh/opal

Host dell-x1026.dvlp.casa dell-x1026 10.0.0.5
    User admin
    KexAlgorithms +diffie-hellman-group1-sha1,diffie-hellman-group-exchange-sha1
    HostKeyAlgorithms +ssh-rsa,ssh-dss
    PubKeyAcceptedKeyTypes +ssh-rsa,ssh-dss
{{- if and (eq .chezmoi.osRelease.id "fedora") (ge (.chezmoi.osRelease.versionID | int) 39) }}
    RSAMinSize 1024
{{- end }}

# TODO:
{{- if eq .chezmoi.os "windows" }}
# Match exec "nslookup %h 2>&1 | findstr '10.1.1.[^5][^3]' > %%TEMP%%/n"
{{- else }}
# Match Host * exec "resolvectl query %h 2>&1 | grep 10.1.1."
{{- end}}
Host *.dvlp.casa 10.1.1.*
    User freddie
    IdentityFile ~/.ssh/freddie_home

Host 10.9.9.* harriet-desktop harriet-laptop proxbox stevedore backoops *.leigh.delamere
    User freddie
    IdentityFile ~/.ssh/freddie_leigh_delamere
