IdentitiesOnly yes
AddKeysToAgent yes
PreferredAuthentications publickey
CanonicalizeHostname yes
CanonicalizeMaxDots 0
CanonicalDomains leigh.delamere
CanonicalizeFallbackLocal yes

# also run: update-crypto-policies --set DEFAULT:SHA1
Host 10.9.9.5 cisco-3560 cisco-3560.leigh.delamere
    User admin
    IdentityFile ~/.ssh/freddie_leigh_delamere_rsa.pub
    KexAlgorithms +diffie-hellman-group14-sha1
    HostKeyAlgorithms +ssh-rsa
    PubKeyAcceptedAlgorithms +ssh-rsa
    Ciphers +aes256-cbc
    ForwardX11 no

Host proxbox proxbox.leigh.delamere
    User root

Host 10.9.9.13 pikvm pikvm.leigh.delamere
    User root

Host 10.9.9.* 10.7.7.* harriet-desktop harriet-laptop proxbox stevedore backoops *.leigh.delamere
    User freddie
    IdentityFile ~/.ssh/freddie_leigh_delamere.pub
    ForwardAgent yes
    ForwardX11 yes
