Host 10.9.9.* 10.7.7.* harriet-desktop harriet-laptop proxbox stevedore backoops *.leigh.delamere
    User freddie
    IdentityFile ~/.ssh/freddie_leigh_delamere
    ForwardAgent yes
    ForwardX11 yes

Host 10.9.9.13 pikvm pikvm.leigh.delamere
    User root
    IdentityFile ~/.ssh/freddie_leigh_delamere
    ForwardAgent yes
    ForwardX11 yes
