IdentitiesOnly yes
AddKeysToAgent yes

Host github.com
    User git
    IdentityFile ~/.ssh/freddie_git

Host holy-ghost the-son scorpion providence gerty ghetto-blaster brick albatross
    CanonicalizeHostname yes
    CanonicalizeMaxDots 0
    CanonicalDomains dvlp.casa
    CanonicalizeFallbackLocal yes
    ForwardAgent yes
    ForwardX11 yes
    # shell is pwsh
    User freddie
    IdentityFile ~/.ssh/ansible

Host packets frames
    CanonicalizeHostname yes
    CanonicalizeMaxDots 0
    CanonicalDomains dvlp.casa
    CanonicalizeFallbackLocal yes
    ForwardAgent yes
    ForwardX11 yes
    # shell is posix
    User freddie
    IdentityFile ~/.ssh/freddie_home

Include config
